.app{
    .container{

    
        //LOGIN AND REGISTER

        .auth {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: red($color: #000000);
        }


    }

}